<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Apply Job</title>
    <head th:replace="headers :: includes"></head>
    <!-- Bootstrap CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <style>
        /* Optional custom styles */
        .card {
            margin-top: 20px;
        }
    </style>
</head>
<body>
	  <div th:replace="jobmenu :: jobmenu"></div>
    <div class="container">
     
        <h2 class="mt-3">Apply Job</h2>
        <div class="card">
            <div class="card-body">
                <form th:action="@{/jobseeker/saveApplyJob}" th:object="${jobApply}" method="post">
               <!--
                    <div class="form-group">
                        <label for="applyDate">Apply Date:</label>
                        <input type="date" class="form-control" name="applyDate" th:value="${jobApply.applyDate}" th:field="*{applyDate}" />
                    </div>
                    -->
                    <div class="form-group">
                        <label for="userId">User Id:</label>
                         <input type="text" class="form-control" name="userId" th:value="${userId}"  />
                    </div>
                    <div class="form-group">
                        <label for="vacancyId">Vacancy Id:</label>
  <input type="text" class="form-control" name="vacancyId" th:value="${vacancyId}" th:field="*{vacancy.vacancyId}" />      
                </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>
