<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">
<head th:replace="headers :: includes">
    <title>Job Seeker Home</title>
    <style>
        /* Custom CSS can be added here */
       
        .button-container button {
            flex-grow: 1;
            margin-right: 5px;
            border-radius: 20px;
        }
    </style>
</head>
<body>
<div th:replace="jobmenu :: jobmenu"></div>

<h2 style="background-color: cadetblue;text-align: center;margin-top: 18px;color:white">List of Jobs</h2>
    <div class="container mt-4 mb-5" th:each="vacancy : ${vacancyList}">
		
        <div class="row mt-3 border border-dark rounded p-3">
			
            <div class="row">
              <div class="col-sm-4">
             
                  <img th:src="@{http://localhost:8091/JobPathFinder/uploads/{logo}(logo=${vacancy.company.logo})}"  style="width: 200px; height: 180px;" alt="Company Logo"/>
                  <!--
                  <p><span class="fw-bold" th:text="${vacancy.company.companyName}"></span></p>
                  
                  -->
                  <p><span class="fw-bold" th:text="${vacancy.company.Url}"></span></p>


              </div>
              <div class="col-sm-4">
           <p>JobTitle:<span class="fw-bold" th:text="${vacancy.jobTitle}"></span></p>
			 <p>Company Name:<span class="fw-bold" th:text="${vacancy.company.companyName}"></span></p>
					
					<p>NoOfVacancies: <span class="fw-bold" th:text="${vacancy.noOfVacancies}"></span></p>
					<p>VacancyID: <span class="fw-bold" th:text="${vacancy.vacancyId}"></span></p>
                     <p>PostDate:<span class="fw-bold" th:text="${vacancy.postDate}"></span></p>
              </div>
             <div class="col-sm-4">
				  
				  <p>Requirement:<span class="fw-bold" th:text="${vacancy.requirement}"></span></p>
				 <p>Description:<span class="fw-bold" th:text="${vacancy.description}"></span></p>
				  <p>Location:<span class="fw-bold" th:text="${vacancy.company.location}"></span></p>
				    <p>OpenDate:<span class="fw-bold" th:text="${vacancy.openDate}"></span></p>
                  <p>CloseDate: <span class="fw-bold" th:text="${vacancy.closeDate}"></span></p>
               
              </div>


              <div class="row">


                <div class="col-sm-8"></div>
                <div class="col-sm-4">
					
					<button th:if="${session['applied_' + vacancy.vacancyId]}"
								class="btn btn-danger" style="border-radius:20px;"  disabled >Applied</button>&nbsp;&nbsp;&nbsp;
								
					<a th:href="@{'/jobseeker/applyJob?vacancyId=' + ${vacancy.vacancyId}}"
					
							th:unless="${session['applied_' + vacancy.vacancyId]}"	class="btn btn-info" style="border-radius:20px;">Apply Job</a>&nbsp;&nbsp;&nbsp;
					
					<!--
             <a th:href="@{'/jobseeker/applyJob?vacancyId=' + ${vacancy.vacancyId}}" class="btn btn-info" style="border-radius: 50px;">ApplyJob</a>
             
             -->

	<!-- <a th:href="@{/jobseeker/takeExam/{vacancyId}(vacancyId=${vacancy.vacancyId})}" 
	class="btn btn-danger" style="border-radius: 50px;">Take Exam</a> -->

                  
               
                </div>
              </div>
             
            </div>

           

            

        </div>
    </div>
   

<div th:replace="footer :: footer"></div>
</body>
</html>
