<html xmlns="http://www.thymeleaf.org">
	<head th:replace="headers :: includes">
		<title>AdminHome</title>
	</head>
	<body >
	<div th:replace="adminmenu :: adminhomemenu"></div>
		<br>
		<center>
			<div class="card mb-5" style="width:90%">
				
					<h2 style="color: rgb(0, 0, 255);">Test Details</h2>
				  <div class="table-responsive">
   				 <table class="table table-active table-striped">
					
					<thead class="table table-success table-striped"  style="border: 5px solid rgb(0, 0, 255);">
						<tr>
							<!--<th>Operations</th>-->
							<!--<th>Operations</th>-->
							<th>Test Id</th>
							<!--<th>CompanyId</th>-->
							<th>Test date</th>
							<th>Test Duration</th>
							<th>Vacancy ID</th>
						
							
						</tr>
					</thead>
					<tbody  style="border: 5px solid rgb(0, 0, 0);">
						<tr th:each="test : ${testListt}">
						<td th:text="${test.testId}"></td>
						<td th:text="${test.testDate}"></td>
						<td th:text="${test.testDuration}"></td>
						<td th:text="${test.vacancy.vacancyId}"></td>
						
						</tr>
					</tbody>
				</table>
				 </div>
			</div>
		</center>
			<div th:replace="footer :: footer"></div>

		
	</body>
	</html>