<html xmlns="http://www.thymeleaf.org">
	<head th:replace="headers :: includes">
		<title>AdminHome</title>
	</head>
	<body >
	<div th:replace="adminmenu :: adminhomemenu"></div>
		<br>
		<center>
			<div class="container-fluid mb-5" style="width:90%">
				
					<h2 style="color: rgb(98, 98, 0);">List Of JobApplicants</h2>
				  <div class="table-responsive">
   				 <table class="table table-light table-striped"  style="border: 5px solid rgb(0, 64, 128);">
					
					<thead class="table table-active table-striped"  style="border: 5px solid rgb(0, 64, 0);">
						<tr style="border: 2px solid rgb(192, 192, 192);">
							<th>UserId</th>
							
							<th>FirstName</th>
							<th>LastName</th>
							<th>DateOfBirth</th>
							<th>Gender</th>
							<th>Email</th>
							<th>Mobile</th>
							<th>Address</th>
							<th>Qualifications</th>
							<th>Experience</th>
							<th>ProfilePic</th>
						</tr>
					</thead>
					<tbody class="table-info">
						
						<tr th:each="jobseek : ${jobSeekersList}">
						<td th:text="${jobseek.userId}"></td>
						<td th:text="${jobseek.firstName}"></td>
						<td th:text="${jobseek.lastName}"></td>
						<td th:text="${jobseek.dateOfBirth}"></td>
						<td th:text="${jobseek.gender}"></td>
						<td th:text="${jobseek.email}"></td>
						<td th:text="${jobseek.mobile}"></td>
						<td th:text="${jobseek.address}"></td>
						<td th:text="${jobseek.qualifications}"></td>
						<td th:text="${jobseek.experience}"></td>
						<td ><img th:src="@{http://localhost:8091/JobPathFinder/uploads/{profilePic}(profilePic=${jobseek.profilePic})}"  alt="Avatar" class="img-fluid my-5" style="width: 100px; height: 90px;"></td>

						
						</tr>
					</tbody>
				</table>
				 </div>
			</div>
		</center>
			<div th:replace="footer :: footer"></div>

		
	</body>
	</html>